*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'overpass', sans-serif;
}
.container{
    margin: 50px;
}

form input{
    margin-bottom: 15px;
}

form input,
form button{
    padding: 5px 15px;
}